*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

/* HEADER */
header{
display:flex;
justify-content:space-between;
padding:20px 50px;
background:#020617;
position:fixed;
width:100%;
top:0;
z-index:1000;
box-shadow:0 5px 20px rgba(0,0,0,0.5);
}

.logo{
font-size:24px;
font-weight:bold;
color:#38bdf8;
}

nav a{
margin:0 15px;
color:white;
text-decoration:none;
transition:0.3s;
}

nav a:hover{
color:#38bdf8;
}

/* SECTION */
section{
padding:120px 60px;
min-height:100vh;
}

h2{
color:#38bdf8;
margin-bottom:20px;
}

/* HOME */
.home{
display:flex;
align-items:center;
gap:50px;
}

.home-img img{
width:260px;
border-radius:50%;
transition:0.4s;
}

.home-img img:hover{
transform:scale(1.05);
box-shadow:0 0 30px #38bdf8;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#38bdf8;
color:black;
text-decoration:none;
border-radius:30px;
transition:0.3s;
}

.btn:hover{
background:white;
transform:scale(1.05);
}

/* ABOUT */
.about-section{
background:#020617;
text-align:center;
}

.section-title{
font-size:32px;
margin-bottom:40px;
color:#38bdf8;
}

.about-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.about-card{
background:#0f172a;
padding:30px;
width:300px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.5);
transition:0.3s;
}

.about-card:hover{
transform:translateY(-10px);
}

/* SKILL */
.box{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.box div{
background:#1e293b;
padding:15px 25px;
border-radius:10px;
}

/* PROJECT */
.project-card{
background:#1e293b;
padding:20px;
margin:10px 0;
border-radius:10px;
}

/* CONTACT */
.social a{
color:#38bdf8;
font-size:25px;
margin:10px;
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
background:#020617;
}

.contact-container{
display:flex;
flex-direction:column;
gap:15px;
margin-top:20px;
}

.contact-item a{
display:flex;
align-items:center;
gap:12px;
background:#1e293b;
padding:15px 20px;
border-radius:12px;
text-decoration:none;
color:white;
font-size:18px;
transition:0.3s;
}

.contact-item a:hover{
background:#38bdf8;
color:black;
transform:scale(1.03);
}

.contact-item i{
font-size:22px;
}

section{
padding-top:120px;
}

.education-section{
background:#020617;
text-align:center;
}

.education-container{
display:flex;
justify-content:center;
margin-top:40px;
}

.edu-card{
display:flex;
align-items:center;
gap:20px;
background:#0f172a;
padding:30px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.5);
width:500px;
transition:0.3s;
}

.edu-card:hover{
transform:translateY(-8px);
}

.edu-logo{
width:80px;
height:80px;
}

.project-section{
background:#020617;
text-align:center;
}

.project-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin-top:40px;
}

.project-card{
background:#0f172a;
width:320px;
border-radius:20px;
overflow:hidden;
box-shadow:0 10px 30px rgba(0,0,0,0.6);
transition:0.3s;
}

.project-card:hover{
transform:translateY(-10px);
}

.project-card img{
width:100%;
height:180px;
object-fit:cover;
}

.project-content{
padding:20px;
}

.project-content h3{
color:#38bdf8;
margin-bottom:10px;
}

.project-btn{
display:flex;
gap:10px;
margin-top:15px;
}

.project-btn a{
flex:1;
padding:10px;
background:#38bdf8;
color:black;
text-decoration:none;
border-radius:10px;
font-weight:bold;
}

.project-btn a:hover{
background:white;
}

.skills-section{
background:#020617;
text-align:center;
}

.skills-container{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin-top:40px;
}

.skill-card{
background:#0f172a;
padding:30px;
width:220px;
border-radius:20px;
box-shadow:0 10px 30px rgba(0,0,0,0.5);
transition:0.3s;
}

.skill-card:hover{
transform:translateY(-10px);
}

.skill-card i{
font-size:40px;
color:#38bdf8;
margin-bottom:15px;
}

.skill-card h3{
margin-bottom:10px;
color:#38bdf8;
}
